html, body, #root{
    height: 100%;
}

.duration,
.cycles{
    font-weight: bold; 
    font-size: 55px;
    text-align: center;
    display: block;
}

.cycles{
    font-size: 22px;
}

.wrapper{
    overflow: hidden;
}

@media (min-width: 960px) {
    .wrapper{
        width: 50%;
        margin-left: 25%;
    }
}

  
.carousel{
    display: flex;
    left: -100%;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.timer,
.timerForm{
    flex: 1 0 100%;
}
 
.is-set{
    transform: none;
}
  
  
  